.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin-top: 20px;
	width: 100%;

	&Button {
		background: none;
		border: none;
		font-size: 18px;
		color: #59340a;
	}

	&Active {
		color: #9d9d9d;
	}

	&Inactive {
		cursor: pointer;
		text-decoration: underline;
	}

	&Changepage {
		width: 23px;
		height: 23px;
		color: #9d9d9d;

		&Active {
			cursor: pointer;
			color: #59340a;
		}
	}
}
