.navbar {
	&Background {
		background: rgba(#fff, 0.5);
		opacity: 0;
		transition: opacity 0.3s;

		&Open {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 1;
			z-index: 2;
		}
	}
	&Container {
		position: absolute;
		width: 200px;
		background: #59340a;
		height: 20px;
		color: #fff;
		padding: 1em;
		font-size: 20px;
		margin-top: 60px;
		border-radius: 0 8px 8px 0;
		transform: translateX(-170px);
		transition: transform 0.5s, height 0.5s;
		z-index: 2;

		&Open {
			height: calc(100vh - 60px);
			transform: translateX(0);
			border-radius: 0;
		}
	}

	.navToggleIcon {
		position: absolute;
		right: 5px;
		top: 8px;
		transition: transform 0.5s;
		cursor: pointer;

		&Open {
			right: 15px;
			transform: rotate(180deg);
		}
	}

	.nav {
		&List {
			margin-top: 150px;

			ul {
				padding: 0;
			}

			li {
				list-style: none;
				margin-top: 10px;
				cursor: pointer;
			}
		}
		&Item {
			position: relative;
			color: #fff;
			text-decoration: none;

			&::after {
				content: "";
				left: 0;
				bottom: 4px;
				position: absolute;
				width: 100%;
				height: 1px;
				background: #fff;
				transform: scaleX(0);
				transform-origin: left;
				transition: transform 0.3s;
			}

			&:hover::after {
				transform: scaleX(1);
			}
		}
	}
}
