* {
	margin: 0;
	box-sizing: border-box;
}

.app {
	width: 100%;
	position: relative;
	color: #59340a;

	.contents {
		margin-left: 40px;
		height: 100vh;
		overflow-y: scroll;
		background: #f3ede6;
	}
}
